In [1]:
import sys
from pathlib import Path

project_root = Path.cwd().parent
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt

from src.preprocessing import preprocess_data

In [3]:
df = pd.read_csv('../data/raw/retail_customers_COMPLETE_CATEGORICAL.csv')

In [4]:
df = preprocess_data(df)

In [ ]:
df[["Country", "IP_Country"]].head(n = 15)
# ðŸ˜•

           Country     IP_Country
0   United Kingdom          China
1   United Kingdom         Poland
2           France  United States
3   United Kingdom            NaN
4   United Kingdom          Chile
5   United Kingdom         Canada
6   United Kingdom          Sudan
7   United Kingdom  United States
8   United Kingdom  United States
9   United Kingdom          China
10  United Kingdom  United States
11  United Kingdom  United States
12  United Kingdom      Indonesia
13  United Kingdom      Singapore
14  United Kingdom        Germany